/* @import "https://use.typekit.net/ozb4uts.css"; */

@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Book';
  src: url('./fonts/Stolzl-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Stolzl, sans-serif;
}

a {
  text-decoration: none;
}

.f96 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -1.92px;
}

.f70,
.f70 > * {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -2.1px;
}

.f64 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
}

.f48 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.f36 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.72px;
}

.f36-fixed {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.72px;
}

.f24,
.f24-fixed,
.single-post .post-content .f24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.f20,
.f20 > *,
.single-post .post-content .f20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.f18,
.single-post .post-content .f18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.f16,
.single-post .post-content .f16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.f14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.f14-alt {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.f12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.white-text {
  color: var(--white);
}

.w400 {
  font-weight: 400;
}

.f20 strong {
  font-weight: 700;
}

@media screen and (max-width: 676px) {
  .f96 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }

  .f64,
  .f70,
  .f70 > * {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.72px;
  }

  .f48 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
  }

  .f36 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .f24,
  .single-post .post-content .f24 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}
